{% extends 'base.html' %}


{% block content %}

<h1>New password</h1>
<form method="POST" class="col-3">
    {{ form.hidden_tag() }}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <label for="password">Password</label><br>
    {{ form.password(size=30) }}<br><br>

    <label for="confirm_password">Repeat</label><br>
    {{ form.confirm_password(size=30) }}<br><br>

    <input type="submit" value="Change" class="btn btn-outline-success">
</form>

{% endblock %}